<!DOCTYPE html>
<body>
    <b>I am too stupid to build this system</b>
    <input type="text" placeholder="input a random number" id="id_shit">
    <a href="/home">Submit</a>
    <div>
        <b>If u wish to continue, press the button below</b>
        <button onclick="document.getElementById('id_result').innerHTML = Date()">Loser Button</button>
        <button onclick="document.getElementById('id_loser').innerHTML = 'You big loser'">Another loser button</button>
    </div>
    <p id="id_result"></p>
    <b id="id_loser" style="color:red"></b>   
</body>
</html>